<footer>
  <div class="row-fluid">
    <div class="span6 offset3">
      <p><a href="https://saucelabs.com/u/barclayadam"><img src="https://saucelabs.com/buildstatus/barclayadam" alt="SauceLabs Test Status"></a></p>
      <p class="copyright"><strong>HelixJS</strong> is maintained by <a href="https://github.com/barclayadam">Adam Barclay</a> and supported by <a href="https://github.com/michaeldtaylor">Mike Taylor</a>.</p>
      <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </div>
  </div>
</footer>