<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Mike Taylor">
  <meta name="description" content="HelixJS - DNA for web apps" />
  <meta name="msapplication-TileColor" content="#FFF">
  <meta name="msapplication-TileImage" content="icons/apple-touch-icon-144x144-precomposed.png">  

  <!-- ICONS -->
  <link rel="icon" type="image/png" href="icons/favicon.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icons/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="icons/apple-touch-icon-57x57-precomposed.png">

  <title>{{ page.title }}</title>

  <!-- STYLES -->
  <link rel="stylesheet" media="screen" href="styles/lib/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="styles/lib/bootstrap-responsive.min.css">
  <link rel="stylesheet" media="screen" href="styles/lib/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="styles/lib/monokai.css">
  <link rel="stylesheet" media="screen" href="styles/main.css">

  <!--[if lt IE 9]>
    <script src="scripts/lib/html5shiv.js"></script>
  <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40001607-1', 'helixjs.org');
    ga('send', 'pageview');
  </script>
</head>