<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    <a href="https://github.com/barclayadam/helixjs">
      <img class="github-banner" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>

    <div id="wrapper">
      <div id="banner-adjust"></div>
      <div class="row-fluid">
        <div class="span6 offset3">

          <!-- HOMEPAGE BANNER -->
          <header role="banner">

            <!-- NAVIGATION -->
            {% include navigation.html %}

            <div id="homepage-banner-well" class="well well-large">
              {{ page.title }}
            </div>
          </header>

          <!-- MAIN CONTENT -->
          <main role="main">
            {{ content }}
          </main>
        </div>
      </div>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}

    <!-- SCRIPTS -->
    {% include page_scripts.html %}
  </body>
</html>
