<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mike Taylor">
    <meta name="description" content="HelixJS - DNA for web apps" />

    <title>{{ page.title }}</title>

    <!-- STYLES -->
    <link href="styles/lib/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="styles/lib/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="styles/lib/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="styles/lib/monokai.css" rel="stylesheet" media="screen">
    <link href="styles/main.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="scripts/lib/html5shiv.js"></script>
    <![endif]-->

    <link href="icons/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="icons/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="icons/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="icons/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icons/favicon.png" rel="shortcut icon">
  </head>

  <body>
    <a href="https://github.com/barclayadam/helixjs">
      <img class="github-banner" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>

    <div id="wrapper">
      <div id="head-stuff"></div>
      <div class="row-fluid">
        <div class="span6 offset3">

          <!-- HOMEPAGE BANNER -->
          <header role="banner">

            <!-- NAVIGATION -->
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <nav>
                  <ul class="nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="examples.html">Examples</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">Blog</a></li>                                    
                  </ul>
                </nav>
              </div>
            </div>

            <div id="homepage-banner-well" class="well well-large">
              <div class="row-fluid">
                <div class="span8 offset2">
                  <img src="images/logo.png" alt="HelixJS logo" />
                </div>
              </div>

              <div class="center">
                <div class="tagline-buttons">
                  <h2>DNA for web apps</h2>

                  <p><strong>HelixJS</strong> is a JavaScript library that provides a solid foundation for creating rich web applications, building on the <a href="http://knockoutjs.com">Knockout</a> library.</p>

                  <section class="github-links">
                    <a class="btn btn-large" type="button" href="https://github.com/barclayadam/helixjs">
                      <i class="icon-github"></i> View on GitHub</a>
                    <a class="btn btn-large btn-primary" type="button" href="https://github.com/barclayadam/helixjs/zipball/master">
                      <i class="icon-download"></i> Download</a>
                  </section>
                </div>
              </div>
            </div>
          </header>

          <!-- MAIN CONTENT -->
          <main role="main">
            {{ content }}
          </main>
        </div>
      </div>
    </div>

    <!-- FOOTER  -->
    <footer>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span6 offset3">
            <p><a href="https://saucelabs.com/u/barclayadam"><img src="https://saucelabs.com/buildstatus/barclayadam" alt="SauceLabs Test Status"></a></p>
            <p class="copyright"><strong>HelixJS</strong> is maintained by <a href="https://github.com/barclayadam">Adam Barclay</a> and supported by <a href="https://github.com/michaeldtaylor">Mike Taylor</a>.</p>
            <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="scripts/lib/jquery-1.9.1.min.js"></script>    
    <script src="scripts/lib/bootstrap.min.js"></script>
  </body>
</html>
