/*.has-overlay {
  overflow: hidden;
}

.has-overlay > body {
  height: 100%;
  overflow-y: scroll;
}*/

.hx-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  color: #222;
  line-height: 1.3;
}

.hx-dialog__modal {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}

.hx-dialog .hx-dialog--inner {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.hx-dialog .hx-dialog--inner > img,
.hx-dialog .hx-dialog--inner > video,
.hx-dialog .hx-dialog--inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}

.hx-dialog .hx-dialog--inner > img {
  width: auto;
  max-width: 100%;
}

.hx-dialog .hx-dialog--content {
  max-height: 400px;
  max-height: 70vh;

  overflow-x: hidden;
  overflow-y: auto;
}

.hx-dialog .hx-dialog--content > * {
  max-width: 100%;
}

.hx-dialog .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}

.hx-dialog .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}

.hx-dialog .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 20;
  margin-left: 285px;
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}

@media screen and (max-width: 690px) {
  .hx-dialog .hx-dialog--inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }

  .hx-dialog .modal-close {
    left: auto;
    right: 33px;
    margin-left: 0;
  }

  .hx-dialog .modal-close:after {
    margin-left: 40%;
  }
}

@media screen and (max-width: 30em) {
  .hx-dialog {
    -webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
    -moz-transition: -moz-transform .25s ease-in-out, opacity 1ms .25s;
    -o-transition: -o-transform .25s ease-in-out, opacity 1ms .25s;
    -ms-transition: -ms-transform .25s ease-in-out, opacity 1ms .25s;
    transition: transform .25s ease-in-out, opacity 1ms .25s;
    display: block;
    height: 100%;
    bottom: auto;
  }
  
  .hx-dialog:before {
    background-color: #27aae2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#27aae2), to(#1c9cd3));
    background-image: -webkit-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -moz-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -o-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: linear-gradient(to bottom, #27aae2, #1c9cd3);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }

  .hx-dialog .hx-dialog--inner {
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3em;
    height: 100%;
    overflow: scroll;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .hx-dialog .modal-close {
    right: auto;
    text-decoration: none;
  }

  .hx-dialog .modal-close:before {
    display: none;
  }

  .hx-dialog .modal-close:after {
    content: attr(data-close);
    top: 0.4em;
    left: 1em;
    z-index: 40;
    margin-left: 0;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

@media screen and (max-height: 46em) and (min-width: 30em) {
  .hx-dialog .hx-dialog--content {
    max-height: 340px;
    max-height: 50vh;
  }
}

@media screen and (max-height: 36em) and (min-width: 30em) {
  .hx-dialog .hx-dialog--content {
    max-height: 265px;
    max-height: 40vh;
  }
}

@media screen and (min-width: 30em) {
  .hx-dialog {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}