html, body {
	display: block;
	height: 100%;
}

pre code {
	color: #f8f8f2;
}

a {
	color: #6600cc;
}

a:hover, a:focus {
	color: #6600cc;
}

.github-banner {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#banner-adjust {
	padding-top: 20px;
	border-top: 6px #6600cc solid;
}

#homepage-banner-well {
	margin-bottom: 0px;
}

.center {
	text-align: center;
}

.github-links {
	margin-top: 20px;
}

main[role="main"] {
	padding: 10px;
	padding-bottom: 147px;
}

footer {
	padding-top: 2em;
	background-color: #1b1b1b;
	color: white;
	font-size: 10px;
	padding-bottom: 2em;

	margin-top: -147px;
}

footer a, a:hover, a:focus {
	color: #ae81ff;
}