html {
	min-height: 100%;
}

body {
	min-height: 100%;
	border-top: 6px #6600cc solid;
	padding-top: 40px;
}

.tagline-buttons {
	margin: 30px 0 30px 0;
}

.github-banner {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

.github-links {
	margin-top: 30px;
}

.wrapper {
	min-height: 100%;
}

.center {
	text-align: center;
}

.content-wrapper {
	margin-top: 30px;
}